#h2{
    text-shadow: 10px 10px 5px gray;
    margin-left: 300px;
}
#h4{
    display: flex;
    align-items: center;
    justify-content: center;
}
#p{
    margin-top: 5px;
    margin-right: 200px;
}
li{
    list-style: none;
}
.parrafo{
    list-style: decimal;
    margin-bottom: 10px;
  
}
span{
    color:blueviolet;
}
.sub-parrafo{
    list-style-type: lower-latin;
    margin-bottom: 20px;
}

a { color: blue; } 
a:hover { color: #00FF00; } /* CSS link hover (green) */

a:active {
    background: #265301;
    color: #CDFEAA;
}
.activo{
    text-decoration:none;
    color:black;

}
img{
    width: 150px ;
    height: 150px;
}

#secciones{
    margin-left: 200px ;
    align-content: center;
}
p.dentro{
    margin-left:80px ;
}
p.sangria{
    text-indent: 40px;
}
/*Header*/
.general{
    margin: auto;
    margin-top: 5px;
    width: auto;
    height: 400px;
}
.inicio{
    background-image: url(../assets/hockey_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 10%;
    background-attachment: unset;
    height: 20vh;
    min-height: 20rem;
    display: flex;
}
.encabezado{
    background-color: black;
    color:#efefef;
    font-size: x-large;
    font-family: cursive, Cochin, Georgia, Times, "Times New Roman", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    margin-top:5px ;
}
.empresa{
    font-size: xx-large;
    font-family: cursive, Cochin, Georgia, Times, "Times New Roman", serif;
}
#a{
    padding: 20px 20px 20px 20px;
}
.panel-izq{
    position: absolute;
    display: inline-block;
    font-family: cursive, Cochin, Georgia, Times, "Times New Roman", serif;

}
.mision{
    position: relative;
    left: 200px;
    width: 60%;
    font-family: cursive, Cochin, Georgia, Times, "Times New Roman", serif;
}
.box{
    padding:  1rem 5rem 3rem 1rem;
}
.logo{
    position: absolute;
    left: 50%;
    top: 260px;
    margin-left: 25%;
}
footer{
    background-color: black;
    color: #00FF00;
    font-family: cursive, Cochin, Georgia, Times, "Times New Roman", serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
#lista{
    align-items: center;
    width: 80%;
}
h1{
    text-shadow: 3px 5px burlywood;
}
.simbol{
    list-style: circle;
    margin-bottom: 20%;
}
th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
    
}
table,td{
    border: 1px solid black;
    margin-bottom: 5%;
}
.text-contact{
    position: relative;
    left: 200px;
    font-family: cursive, Cochin, Georgia, Times, "Times New Roman", serif;
    margin-bottom: 40%;
    width: 60%;
}
.separated{
margin-bottom: 20%;
width: 80%;
}
.galeria{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }
  
  .galeria img{
    max-width: 400px;
    padding: 1rem;
    margin-bottom: 30%;
  }
  form {
    /* Centrar el formulario en la página */
    margin: 0 auto;
    width: 900px;
    /* Esquema del formulario */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  .input_css{
    outline: none;
    background-color: #dfe;
    border: 0;
  }

.order{
   padding: 10px;
}
button {
    padding      : 5px;
    font         : bold .6em sans-serif;
    border       : 2px solid #333;
    border-radius: 5px;
    background   : none;
    cursor       : pointer;
    transform    : rotate(-1.5deg);
    font-size: medium;
  }
  button:after {
    content      : " >>>";
  }
  
  button:hover,
  button:focus {
    outline     : none;
    background  : #000;
    color       : #FFF;
  }
  .checkbox-inline{
    margin-right: 30px;
    padding: 10px;
  }
